<div class="wrapper">
  {{main-header}}
  {{main-sidebar}}
  {{#content-wrapper}}
    {{outlet}}
  {{/content-wrapper}}
  {{main-footer}}
  {{control-sidebar}}
</div>
<!--<nav class="navbar navbar-full navbar-dark bg-primary">
  <div class="container">

    <div class="pull-sm-right">
      {{#if session.isAuthenticated}}
        <button {{action 'logout'}} class="btn btn-secondary-outline">Logout</button>
      {{else}}
        {{#link-to 'login' class="btn btn-secondary-outline"}}
          Login
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>
</div>-->

